<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
    <key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleName</key><string>FDrive</string>
    <key>CFBundleDisplayName</key><string>FDrive</string>
    <key>CFBundleExecutable</key><string>$(EXECUTABLE_NAME)</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key><string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSMinimumSystemVersion</key><string>$(MACOSX_DEPLOYMENT_TARGET)</string>
    <key>LSUIElement</key><true/>
    <key>NSPrincipalClass</key><string>NSApplication</string>
    <key>FdriveAppGroup</key><string>$(FDRIVE_APP_GROUP)</string>
    <key>FdriveKeychainGroup</key><string>$(FDRIVE_KEYCHAIN_GROUP)</string>
    <key>FdriveLicenseOrganization</key><string>$(FDRIVE_LICENSE_ORGANIZATION)</string>
    <key>FdriveLicenseSandbox</key><string>$(FDRIVE_LICENSE_SANDBOX)</string>
    <key>FdriveLicenseTrialSeconds</key><string>$(FDRIVE_LICENSE_TRIAL_SECONDS)</string>
    <key>FdrivePurchaseURL</key><string>$(FDRIVE_PURCHASE_URL)</string>
    <key>NSAppTransportSecurity</key><dict><key>NSAllowsLocalNetworking</key><true/></dict>
</dict></plist>
